# Applied Data Science Capstone - Segment & Cluster

# Scraping Data From Wikipedia

In [249]:
import pandas
import requests
from bs4 import BeautifulSoup
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'xml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')
#table_rows

# Converting Data Into a Pandas Dataframe

In [250]:
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]  # to filter out bad rows

In [251]:
df.head()

  PostalCode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

# Removing Boroughs That Are Not Assigned

In [252]:
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

In [253]:
df[df.Borough == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

# Replacing Neighbourhoods That Are Not Assigned To Equal Borough

In [254]:
df[df.Neighbourhood == 'Not assigned']

  PostalCode       Borough Neighbourhood
9        M7A  Queen's Park  Not assigned

In [255]:
df = df.replace(to_replace ="Not assigned", 
                 value ="Queen\'s Park")

# Check That All Boroughs and Neighbourhoods Are Assigned

In [256]:
df[df.Borough == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [257]:
df[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

# Merging Neighbourhoods With The Same PostalCode

In [258]:
df[df.PostalCode == 'M5A']

  PostalCode           Borough Neighbourhood
5        M5A  Downtown Toronto  Harbourfront
6        M5A  Downtown Toronto   Regent Park

In [259]:
df[df.Neighbourhood == 'Harbourfront']

  PostalCode           Borough Neighbourhood
5        M5A  Downtown Toronto  Harbourfront

In [260]:
df[df.Neighbourhood == 'Regent Park']

  PostalCode           Borough Neighbourhood
6        M5A  Downtown Toronto   Regent Park

In [261]:
df = df[df.Neighbourhood != 'Harbourfront']

In [262]:
df = df.replace(to_replace ="Regent Park", 
                 value ="Regent Park, Harbourfront")

In [263]:
df[df.PostalCode == 'M5A']

  PostalCode           Borough              Neighbourhood
6        M5A  Downtown Toronto  Regent Park, Harbourfront

# Displaying The Shape and Final Dataframe

In [264]:
df.shape

(210, 3)

In [265]:
df

,PostalCode,Borough,Neighbourhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
6,M5A,Downtown Toronto,"Regent Park, Harbourfront"
7,M6A,North York,Lawrence Heights
8,M6A,North York,Lawrence Manor
9,M7A,Queen's Park,Queen's Park
11,M9A,Etobicoke,Islington Avenue
12,M1B,Scarborough,Rouge
13,M1B,Scarborough,Malvern
15,M3B,North York,Don Mills North
16,M4B,East York,Woodbine Gardens
17,M4B,East York,Parkview Hill
18,M5B,Downtown Toronto,Ryerson
19,M5B,Downtown Toronto,Garden District
20,M6B,North York,Glencairn
23,M9B,Etobicoke,Cloverdale
24,M9B,Etobicoke,Islington
25,M9B,Etobicoke,Martin Grove
26,M9B,Etobicoke,Princess Gardens
27,M9B,Etobicoke,West Deane Park
28,M1C,Scarborough,Highland Creek
29,M1C,Scarborough,Rouge Hill
30,M1C,Scarborough,Port Union
32,M3C,North York,Flemingdon Park
33,M3C,North York,Don Mills South
34,M4C,East York,Woodbine Heights
35,M5C,Downtown Toronto,St. James Town
36,M6C,York,Humewood-Cedarvale
39,M9C,Etobicoke,Bloordale Gardens
40,M9C,Etobicoke,Eringate
...,...,...,...
236,M9V,Etobicoke,Thistletown
237,M1W,Scarborough,L'Amoreaux West
240,M4W,Downtown Toronto,Rosedale
241,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
244,M8W,Etobicoke,Alderwood
245,M8W,Etobicoke,Long Branch
246,M9W,Etobicoke,Northwest
247,M1X,Scarborough,Upper Rouge
250,M4X,Downtown Toronto,Cabbagetown
251,M4X,Downtown Toronto,St. James Town
252,M5X,Downtown Toronto,First Canadian Place
253,M5X,Downtown Toronto,Underground city
256,M8X,Etobicoke,The Kingsway
257,M8X,Etobicoke,Montgomery Road
258,M8X,Etobicoke,Old Mill North
263,M4Y,Downtown Toronto,Church and Wellesley
266,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
267,M8Y,Etobicoke,Humber Bay
268,M8Y,Etobicoke,King's Mill Park
269,M8Y,Etobicoke,Kingsway Park South East
270,M8Y,Etobicoke,Mimico NE
271,M8Y,Etobicoke,Old Mill South
272,M8Y,Etobicoke,The Queensway East
273,M8Y,Etobicoke,Royal York South East
274,M8Y,Etobicoke,Sunnylea
283,M8Z,Etobicoke,Kingsway Park South West
284,M8Z,Etobicoke,Mimico NW
285,M8Z,Etobicoke,The Queensway West
286,M8Z,Etobicoke,Royal York South West
287,M8Z,Etobicoke,South of Bloor